.profiles{
    padding-top: 40px;
}
.my-profiles{
    background-color: white;
    margin:0 35%;
    border-bottom: 4px solid white;
    border-radius: 3px;
}
.profile-detail-update {
    text-align: center;
}
.profile-email{
    text-align: center;
}
.profile-name {
    text-align: center;
}
.profile-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}